{% extends "encyclopedia/layout.html" %}
{% block body %}
    <h2>Edit Page:</h2>
    <form action="{% url 'new_edit' %}" method="post">
        {% csrf_token %}
        <label>Title Of The Page:</label><input type="text" placeholder="title of page" name = "new_title" value="{{ title }}">
        <br>
        <label>markdown content:</label>
        <br>
        <textarea name="new_content"> {{ content }}</textarea>
        <input type="submit" value="Save">
    </form>

    

{% endblock %}